#!/bin/bash

host_string="{% for host in groups['all'] %}cluster meet {{ hostvars[host]['inventory_hostname'] }}:6379 {% endfor %} {% for host in groups['all'] %} cluster meet {{ hostvars[host]['inventory_hostname'] }}:6380 {% endfor %}"

echo -e host_string | /root/test-ansible/bin/redis-cli -h {{ ansible_all_ipv4_addresses }} -p 6379