#!/bin/bash

host_string="{% for host in groups['all'] %} cluster meet {{ hostvars[host]['inventory_hostname'] }} {{ redis_port[0] }} \n {% endfor %} {% for host in groups['all'] %} cluster meet {{ hostvars[host]['inventory_hostname'] }} {{ redis_port[1] }} \n {% endfor %}"

echo -e cluster meet $host_string | {{ redis_bin_dir }}/redis-cli -p {{ redis_port[0]}}

redis-cli -h {{ hostvars[groups['all'][0]]['inventory_hostname'] }} -p {{ redis_port[0] }} cluster addslots {0..5461}
redis-cli -h {{ hostvars[groups['all'][1]]['inventory_hostname'] }} -p {{ redis_port[0] }} cluster addslots {5462..10922}
redis-cli -h {{ hostvars[groups['all'][2]]['inventory_hostname'] }} -p {{ redis_port[0] }} cluster addslots {10923..16383}


master_node_id_array=(`redis-cli cluster nodes | grep 6379 | awk '{print $1}'`)
echo ${master_node_id_array[@]}
master_node_ip_array=(`redis-cli cluster nodes | grep 6379 | awk '{print $2}' | cut -d ":" -f 1`)
echo ${master_node_ip_array[@]}

##index = 0
##declare -A map=()
##
##
##for item in `redis-cli cluster nodes | grep {{ redis_port[1]}} | awk '{print $1}'`
##{
##echo $item
##redis-cli -h {{ hostvars[groups['all']]['inventory_hostname'] }} -p {{ redis_port[1] }} cluster replicate $item
##}
##slave_ip:与master_node_id不在同一个ip
##    拿到master_node_id的ip
##    比较，相同则取数组下一个ip比较，直到不同则赋值。如果数组到了尽头就重头开始比较
##slave_ip:与master_node_id一一对应
